<header>

    <mat-toolbar class="position-fixed bgimg">
        <span class="material-icons usericon " (click)="backtodashboard()">arrow_back_ios</span>

        <span class="example-spacer"></span>

        <span class="material-icons usericon">account_circle</span>




    </mat-toolbar>

    <mat-toolbar class=" toolbar bgimg " style="padding-top: 120px;padding-bottom: 50px;">
        <span class="material-icons usericon1 ">flight_takeoff</span><br><br>
        <p class="p1">{{loc1}}</p>

        <span class="example-spacer">
            <hr>
        </span>

        <span class="material-icons usericon2">flight_land</span><br><br>
        <p class="p2">{{loc2}}</p>




    </mat-toolbar>

</header>

<!-- <div class="cloud cloud1" style="padding-top: 20%;">
    <img height="80"
        src="https://images.vexels.com/media/users/3/145795/isolated/preview/05cd33059a006bf49006097af4ccba98-plane-in-flight-by-vexels.png" />
</div> -->
<!-- <header style="padding-top: 12%;">
    <mat-toolbar class="position-fixed toolbar">
        <span class="material-icons usericon1 ">flight_takeoff</span><br><br>
        <p class="p1">{{loc1}}</p>

        <span class="example-spacer">
            <hr>
        </span>

        <span class="material-icons usericon2">flight_land</span><br><br>
        <p class="p2">{{loc2}}</p>




    </mat-toolbar>

</header> -->
<!-- <label style="display: flex;justify-content: center;">Mon</label> -->

<!-- <div  >
    <span class="col-xs-6 col-sm-3">1asdasd</span>
    <span class="col-xs-6 col-sm-3">2asdasd</span>
</div> -->
<!-- <div class="row" style="padding-top: 50%;">
    <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">Column 3</div>
    <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">Column 4</div>
  </div> -->