<header>
    <mat-toolbar class="position-fixed">
        <span class="material-icons usericon " (click)="backtodashboard()">arrow_back_ios</span>

        <span class="example-spacer"></span>

        <span class="material-icons usericon">account_circle</span>
        <!-- <span class="material-icons usericon " (click)="backtodashboard()">arrow_back_ios</span>

        <span class="example-spacer"></span>

        <span class="material-icons usericon">account_circle</span> -->



    </mat-toolbar>

</header>
<header style="padding-top: 12%;">
    <mat-toolbar class="position-fixed toolbar">
        <span class="material-icons usericon1 ">flight_takeoff</span><br><br>
        <p class="p1">{{loc1}}</p>

        <span class="example-spacer"></span>

        <span class="material-icons usericon2">flight_land</span><br><br>
        <p class="p2">{{loc2}}</p>




    </mat-toolbar>

</header>

<!-- <div  >
    <span class="col-xs-6 col-sm-3">1asdasd</span>
    <span class="col-xs-6 col-sm-3">2asdasd</span>
</div> -->
<!-- <div class="row" style="padding-top: 50%;">
    <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">Column 3</div>
    <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">Column 4</div>
  </div> -->