<header>
    <mat-toolbar class="position-fixed">
        <!-- <span class="text-white">Travella</span> -->
        <span class="material-icons usericon " (click)="backtodashboard()">arrow_back_ios</span>Flight Detail

        <span class="example-spacer"></span>

        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
        <span class="material-icons usericon">account_circle</span>
        <!-- </button> -->

    </mat-toolbar>

</header>
<!-- <div class="container  ">
    <p style="font-size: 24px;text-align: center;">Flight Detail</p>
</div> -->